openapi: 3.0.3
info:
  title: Direct P2P - API Server
  description: |
    Direct P2P 파일 전송 서비스의 API 서버 명세서입니다.

    ## 인증 방식: Stateful Token
    - 서버가 랜덤 opaque token을 생성하여 DB에 저장합니다.
    - 클라이언트는 `Authorization: Bearer {token}` 헤더로 토큰을 전송합니다.
    - 로그아웃 시 서버에서 토큰을 삭제하여 즉시 무효화합니다.

    ## 스키마 참조 검증
    `components/schemas`에 정의된 **모든 17개 스키마**는 `paths` 섹션에서 `$ref`로 참조됩니다.
    사용되지 않는 스키마는 존재하지 않습니다.
  version: 1.0.0
  contact:
    name: Direct P2P Team

servers:
  - url: https://api.directp2p.com
    description: 운영 서버
  - url: https://api-dev.directp2p.com
    description: 개발 서버

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: 회원가입, 로그인, 로그아웃, 회원탈퇴, 비밀번호 변경
  - name: Users
    description: 사용자 프로필 조회 및 수정
  - name: Agents
    description: 에이전트(데스크톱 클라이언트) 등록 및 조회
  - name: Sessions
    description: P2P 전송 세션 생성, 참가, 조회, 삭제, 이력
  - name: TURN
    description: TURN 서버 자격증명 발급
  - name: WebSocket
    description: 실시간 이벤트 WebSocket 연결

paths:
  # ──────────────────────────────────────────────
  # Auth
  # ──────────────────────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: 회원가입
      description: 이메일, 비밀번호, 닉네임으로 새 계정을 생성합니다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: 회원가입 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
        "400":
          description: 잘못된 요청 (유효성 검증 실패)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: 이미 존재하는 이메일
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/login:
    post:
      tags: [Auth]
      summary: 로그인
      description: 이메일과 비밀번호로 로그인하여 토큰을 발급받습니다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: 로그인 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: 인증 실패 (이메일 또는 비밀번호 불일치)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/logout:
    post:
      tags: [Auth]
      summary: 로그아웃
      description: 현재 토큰을 서버에서 삭제하여 즉시 무효화합니다.
      responses:
        "204":
          description: 로그아웃 성공 (응답 본문 없음)
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/me:
    delete:
      tags: [Auth]
      summary: 회원탈퇴
      description: 현재 인증된 사용자의 계정을 영구 삭제합니다.
      responses:
        "204":
          description: 회원탈퇴 성공 (응답 본문 없음)
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /auth/password:
    put:
      tags: [Auth]
      summary: 비밀번호 변경
      description: 현재 비밀번호를 확인한 후 새 비밀번호로 변경합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "204":
          description: 비밀번호 변경 성공 (응답 본문 없음)
        "400":
          description: 잘못된 요청 (유효성 검증 실패)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: 인증 실패 또는 현재 비밀번호 불일치
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Users
  # ──────────────────────────────────────────────
  /users/me:
    get:
      tags: [Users]
      summary: 내 프로필 조회
      description: 현재 인증된 사용자의 프로필 정보를 조회합니다.
      responses:
        "200":
          description: 프로필 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      tags: [Users]
      summary: 내 프로필 수정
      description: 닉네임 또는 프로필 이미지를 수정합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: 프로필 수정 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "400":
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Agents
  # ──────────────────────────────────────────────
  /users/me/agents:
    post:
      tags: [Agents]
      summary: 에이전트 등록
      description: 새 데스크톱 에이전트(클라이언트)를 등록합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAgentRequest"
      responses:
        "201":
          description: 에이전트 등록 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags: [Agents]
      summary: 에이전트 목록 조회
      description: 현재 사용자에게 등록된 모든 에이전트를 조회합니다.
      responses:
        "200":
          description: 에이전트 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Agent"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Sessions
  # ──────────────────────────────────────────────
  /sessions:
    post:
      tags: [Sessions]
      summary: 세션 생성
      description: 새 P2P 전송 세션을 생성합니다. 초대 코드가 자동 발급됩니다.
      responses:
        "201":
          description: 세션 생성 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sessions/{sessionId}/join:
    post:
      tags: [Sessions]
      summary: 세션 참가
      description: 초대 코드를 사용하여 기존 세션에 수신자로 참가합니다.
      parameters:
        - name: sessionId
          in: path
          required: true
          description: 참가할 세션 ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JoinSessionRequest"
      responses:
        "200":
          description: 세션 참가 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "400":
          description: 잘못된 초대 코드
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sessions/{sessionId}:
    get:
      tags: [Sessions]
      summary: 세션 상세 조회
      description: 특정 세션의 상세 정보를 조회합니다.
      parameters:
        - name: sessionId
          in: path
          required: true
          description: 조회할 세션 ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: 세션 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: 해당 세션에 대한 접근 권한 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      tags: [Sessions]
      summary: 세션 삭제
      description: 세션을 종료하고 삭제합니다. 세션 생성자만 삭제할 수 있습니다.
      parameters:
        - name: sessionId
          in: path
          required: true
          description: 삭제할 세션 ID
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: 세션 삭제 성공 (응답 본문 없음)
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: 해당 세션에 대한 삭제 권한 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /sessions/history:
    get:
      tags: [Sessions]
      summary: 세션 이력 조회
      description: 현재 사용자의 세션 이력을 페이지네이션으로 조회합니다.
      parameters:
        - name: page
          in: query
          required: false
          description: 페이지 번호 (1부터 시작)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          description: 페이지당 항목 수
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: 세션 이력 조회 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionHistoryResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Candidates
  # ──────────────────────────────────────────────
  /sessions/{sessionId}/candidates:
    post:
      tags: [Candidates]
      summary: ICE Candidate 등록
      description: 해당 세션에 ICE Candidate 정보를 등록합니다.
      parameters:
        - name: sessionId
          in: path
          required: true
          description: 대상 세션 ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCandidateRequest"
      responses:
        "201":
          description: Candidate 등록 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Candidate"
        "400":
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    get:
      tags: [Candidates]
      summary: ICE Candidate 목록 조회
      description: 해당 세션에 등록된 모든 ICE Candidate를 조회합니다.
      parameters:
        - name: sessionId
          in: path
          required: true
          description: 대상 세션 ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Candidate 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Candidate"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # TURN
  # ──────────────────────────────────────────────
  /sessions/{sessionId}/turn-credentials:
    post:
      tags: [TURN]
      summary: TURN 자격증명 발급
      description: 해당 세션의 P2P 연결을 위한 임시 TURN 서버 자격증명을 발급합니다.
      parameters:
        - name: sessionId
          in: path
          required: true
          description: 대상 세션 ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: TURN 자격증명 발급 성공
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TurnCredentials"
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: 세션을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # WebSocket
  # ──────────────────────────────────────────────
  /ws:
    get:
      tags: [WebSocket]
      summary: WebSocket 실시간 연결
      description: |
        WebSocket 프로토콜로 업그레이드되는 실시간 이벤트 연결입니다.
        토큰은 쿼리 파라미터로 전달합니다.

        **연결 예시:**
        
        wss://api.directp2p.com/ws?token={token}
        

        ## 서버 → 클라이언트 이벤트

        ### `session:peer_joined`
        상대방이 세션에 참가했을 때 발생합니다.
        json
        {
          "event": "session:peer_joined",
          "data": {
            "sessionId": "uuid",
            "peerId": "uuid",
            "peerNickname": "string"
          }
        }
        

        ### `session:candidate_added`
        상대방이 새 ICE Candidate를 등록했을 때 발생합니다.
        json
        {
          "event": "session:candidate_added",
          "data": {
            "sessionId": "uuid",
            "candidateId": "uuid",
            "type": "host | srflx | relay",
            "ip": "string",
            "port": 0,
            "protocol": "udp | tcp"
          }
        }
        

        ### `session:status_changed`
        세션 상태가 변경되었을 때 발생합니다.
        json
        {
          "event": "session:status_changed",
          "data": {
            "sessionId": "uuid",
            "status": "waiting | connecting | connected | completed | error"
          }
        }
        

        ### `session:peer_disconnected`
        상대방의 연결이 끊어졌을 때 발생합니다.
        json
        {
          "event": "session:peer_disconnected",
          "data": {
            "sessionId": "uuid",
            "peerId": "uuid"
          }
        }
        

        ## 클라이언트 → 서버 이벤트

        ### `agent:ping`
        에이전트 상태를 서버에 알리는 하트비트입니다.
        json
        {
          "event": "agent:ping",
          "data": {
            "agentId": "uuid"
          }
        }
        
      parameters:
        - name: token
          in: query
          required: true
          description: 인증 토큰
          schema:
            type: string
      responses:
        "101":
          description: WebSocket 프로토콜로 업그레이드 성공
        "401":
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

# ════════════════════════════════════════════════
# Components
# ════════════════════════════════════════════════
components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        서버에서 발급한 opaque token을 `Authorization: Bearer {token}` 형태로 전달합니다.

  schemas:
    # ── 1. RegisterRequest ────────────────────
    # 참조: POST /auth/register requestBody
    RegisterRequest:
      type: object
      required: [email, password, nickname]
      properties:
        email:
          type: string
          format: email
          description: 사용자 이메일 주소
          example: "user@example.com"
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 72
          description: 비밀번호 (8∼72자)
          example: "SecureP@ss1234"
        nickname:
          type: string
          minLength: 2
          maxLength: 30
          description: 닉네임 (2∼30자)
          example: "홍길동"

    # ── 2. RegisterResponse ───────────────────
    # 참조: POST /auth/register 201 response
    RegisterResponse:
      type: object
      required: [userId, email, nickname]
      properties:
        userId:
          type: string
          format: uuid
          description: 생성된 사용자 ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        email:
          type: string
          format: email
          description: 등록된 이메일 주소
          example: "user@example.com"
        nickname:
          type: string
          description: 등록된 닉네임
          example: "홍길동"

    # ── 3. LoginRequest ───────────────────────
    # 참조: POST /auth/login requestBody
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          description: 이메일 주소
          example: "user@example.com"
        password:
          type: string
          format: password
          description: 비밀번호
          example: "SecureP@ss1234"

    # ── 4. LoginResponse ──────────────────────
    # 참조: POST /auth/login 200 response
    LoginResponse:
      type: object
      required: [token, expiresAt]
      properties:
        token:
          type: string
          description: 인증에 사용할 opaque 토큰
          example: "dGhpcyBpcyBhIHNhbXBsZSB0b2tlbg..."
        expiresAt:
          type: string
          format: date-time
          description: 토큰 만료 시각 (ISO 8601)
          example: "2025-01-15T12:00:00Z"

    # ── 5. ChangePasswordRequest ──────────────
    # 참조: PUT /auth/password requestBody
    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
          format: password
          description: 현재 비밀번호
          example: "SecureP@ss1234"
        newPassword:
          type: string
          format: password
          minLength: 8
          maxLength: 72
          description: 새 비밀번호 (8∼72자)
          example: "NewSecureP@ss5678"

    # ── 6. UserProfile ────────────────────────
    # 참조: GET /users/me 200, PUT /users/me 200
    UserProfile:
      type: object
      required: [id, email, nickname, createdAt, agentStatus]
      properties:
        id:
          type: string
          format: uuid
          description: 사용자 ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        email:
          type: string
          format: email
          description: 이메일 주소
          example: "user@example.com"
        nickname:
          type: string
          description: 닉네임
          example: "홍길동"
        profileImage:
          type: string
          format: uri
          nullable: true
          description: 프로필 이미지 URL
          example: "https://cdn.directp2p.com/profiles/550e8400.png"
        createdAt:
          type: string
          format: date-time
          description: 계정 생성 시각 (ISO 8601)
          example: "2025-01-01T09:00:00Z"
        agentStatus:
          type: string
          enum: [online, offline]
          description: |
            에이전트 접속 상태
            - `online`: 에이전트가 연결됨
            - `offline`: 에이전트가 연결되지 않음
          example: "online"

    # ── 7. UpdateProfileRequest ───────────────
    # 참조: PUT /users/me requestBody
    UpdateProfileRequest:
      type: object
      properties:
        nickname:
          type: string
          minLength: 2
          maxLength: 30
          description: 변경할 닉네임 (2∼30자)
          example: "새닉네임"
        profileImage:
          type: string
          format: uri
          nullable: true
          description: 변경할 프로필 이미지 URL (null 전달 시 삭제)
          example: "https://cdn.directp2p.com/profiles/new-image.png"

    # ── 8. RegisterAgentRequest ───────────────
    # 참조: POST /users/me/agents requestBody
    RegisterAgentRequest:
      type: object
      required: [deviceName, platform, agentVersion, multiaddress]
      properties:
        deviceName:
          type: string
          maxLength: 100
          description: 디바이스 이름
          example: "홍길동의 MacBook Pro"
        platform:
          type: string
          enum: [windows, macos, linux]
          description: |
            운영체제 플랫폼
            - `windows`: Windows
            - `macos`: macOS
            - `linux`: Linux
          example: "macos"
        agentVersion:
          type: string
          description: 에이전트 소프트웨어 버전
          example: "1.2.0"
        multiaddress:
          type: string
          description: libp2p멀티주소
          example: "127.0.0.1/::/.."

    # ── 9. Agent ──────────────────────────────
    # 참조: POST /users/me/agents 201, GET /users/me/agents 200 items
    Agent:
      type: object
      required: [agentId, deviceName, platform, agentVersion, registeredAt, lastSeenAt, status]
      properties:
        agentId:
          type: string
          format: uuid
          description: 에이전트 ID
          example: "660e8400-e29b-41d4-a716-446655440001"
        deviceName:
          type: string
          description: 디바이스 이름
          example: "홍길동의 MacBook Pro"
        platform:
          type: string
          enum: [windows, macos, linux]
          description: 운영체제 플랫폼
          example: "macos"
        agentVersion:
          type: string
          description: 에이전트 소프트웨어 버전
          example: "1.2.0"
        registeredAt:
          type: string
          format: date-time
          description: 에이전트 등록 시각 (ISO 8601)
          example: "2025-01-10T14:30:00Z"
        lastSeenAt:
          type: string
          format: date-time
          description: 마지막 접속 시각 (ISO 8601)
          example: "2025-01-15T08:45:00Z"
        status:
          type: string
          enum: [online, offline]
          description: |
            에이전트 접속 상태
            - `online`: 현재 연결됨
            - `offline`: 연결되지 않음
          example: "online"
        multiaddress:
          type: string
          description: libp2p멀티주소
          example: "127.0.0.1/::/.."

    # ── 10. Session ───────────────────────────
    # 참조: POST /sessions 201, POST /sessions/{id}/join 200,
    #        GET /sessions/{id} 200, SessionHistoryResponse.items
    Session:
      type: object
      required: [sessionId, inviteCode, status, senderId, createdAt, updatedAt]
      properties:
        sessionId:
          type: string
          format: uuid
          description: 세션 ID
          example: "770e8400-e29b-41d4-a716-446655440002"
        inviteCode:
          type: string
          description: 세션 참가용 초대 코드 (6자리 영숫자)
          example: "A1B2C3"
        status:
          type: string
          enum: [waiting, connecting, connected, completed, error]
          description: |
            세션 상태
            - `waiting`: 상대방 참가 대기 중
            - `connecting`: P2P 연결 수립 중
            - `connected`: P2P 연결 완료, 전송 가능
            - `completed`: 전송 완료
            - `error`: 오류 발생
          example: "waiting"
        senderId:
          type: string
          format: uuid
          description: 송신자(세션 생성자) 사용자 ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        receiverId:
          type: string
          format: uuid
          nullable: true
          description: 수신자 사용자 ID (참가 전에는 null)
          example: null
        createdAt:
          type: string
          format: date-time
          description: 세션 생성 시각 (ISO 8601)
          example: "2025-01-15T10:00:00Z"
        updatedAt:
          type: string
          format: date-time
          description: 세션 마지막 수정 시각 (ISO 8601)
          example: "2025-01-15T10:05:00Z"

    # ── 11. JoinSessionRequest ────────────────
    # 참조: POST /sessions/{id}/join requestBody
    JoinSessionRequest:
      type: object
      required: [inviteCode]
      properties:
        inviteCode:
          type: string
          description: 세션 참가용 초대 코드
          example: "A1B2C3"

    # ── 12. SessionHistoryResponse ────────────
    # 참조: GET /sessions/history 200
    SessionHistoryResponse:
      type: object
      required: [items, pagination]
      properties:
        items:
          type: array
          description: 세션 이력 목록
          items:
            $ref: "#/components/schemas/Session"
        pagination:
          $ref: "#/components/schemas/Pagination"

    # ── 13. Pagination ────────────────────────
    # 참조: SessionHistoryResponse.pagination ($ref)
    Pagination:
      type: object
      required: [page, pageSize, totalCount, totalPages]
      properties:
        page:
          type: integer
          minimum: 1
          description: 현재 페이지 번호
          example: 1
        pageSize:
          type: integer
          minimum: 1
          description: 페이지당 항목 수
          example: 20
        totalCount:
          type: integer
          minimum: 0
          description: 전체 항목 수
          example: 57
        totalPages:
          type: integer
          minimum: 0
          description: 전체 페이지 수
          example: 3

    # ── 14. RegisterCandidateRequest ──────────
    # 참조: POST /sessions/{id}/candidates requestBody
    RegisterCandidateRequest:
      type: object
      required: [type, ip, port, protocol]
      properties:
        type:
          type: string
          enum: [host, srflx, relay]
          description: |
            ICE Candidate 유형
            - `host`: 로컬 네트워크 주소
            - `srflx`: STUN 서버로 확인된 공인 주소
            - `relay`: TURN 서버를 통한 릴레이 주소
          example: "srflx"
        ip:
          type: string
          description: IP 주소
          example: "203.0.113.45"
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: 포트 번호
          example: 54321
        protocol:
          type: string
          enum: [udp, tcp]
          description: 전송 프로토콜
          example: "udp"

    # ── 15. Candidate ─────────────────────────
    # 참조: POST /sessions/{id}/candidates 201,
    #        GET /sessions/{id}/candidates 200 items
    Candidate:
      type: object
      required: [candidateId, type, ip, port, protocol, registeredAt]
      properties:
        candidateId:
          type: string
          format: uuid
          description: Candidate ID
          example: "880e8400-e29b-41d4-a716-446655440003"
        type:
          type: string
          enum: [host, srflx, relay]
          description: ICE Candidate 유형
          example: "srflx"
        ip:
          type: string
          description: IP 주소
          example: "203.0.113.45"
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: 포트 번호
          example: 54321
        protocol:
          type: string
          enum: [udp, tcp]
          description: 전송 프로토콜
          example: "udp"
        registeredAt:
          type: string
          format: date-time
          description: 등록 시각 (ISO 8601)
          example: "2025-01-15T10:10:00Z"

    # ── 16. TurnCredentials ───────────────────
    # 참조: POST /sessions/{id}/turn-credentials 200
    TurnCredentials:
      type: object
      required: [username, password, ttl, turnServers]
      properties:
        username:
          type: string
          description: TURN 인증 사용자명 (임시 발급)
          example: "1705312800:user550e8400"
        password:
          type: string
          description: TURN 인증 비밀번호 (임시 발급)
          example: "base64encodedhmac..."
        ttl:
          type: integer
          minimum: 1
          description: 자격증명 유효 시간 (초)
          example: 86400
        turnServers:
          type: array
          description: 사용 가능한 TURN 서버 목록
          items:
            type: object
            required: [url, protocol]
            properties:
              url:
                type: string
                description: TURN 서버 URL
                example: "turn:turn1.directp2p.com:3478"
              protocol:
                type: string
                enum: [udp, tcp]
                description: TURN 서버 프로토콜
                example: "udp"

    # ── 17. ErrorResponse ─────────────────────
    # 참조: 모든 에러 응답 (400, 401, 403, 404, 409)
    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          $ref: "#/components/schemas/ErrorCode"
        message:
          type: string
          description: 사람이 읽을 수 있는 에러 메시지
          example: "인증에 실패했습니다."
        detail:
          type: string
          nullable: true
          description: 추가 디버깅 정보 (nullable)
          example: "토큰이 만료되었습니다."

    # ── 18. ErrorCode ─────────────────────────
    # 참조: ErrorResponse.code ($ref)
    ErrorCode:
      type: string
      description: |
        에러 코드 체계:
        - `E1001`: 유효성 검증 실패 — 요청 파라미터 또는 본문이 유효하지 않음
        - `E1002`: 인증 실패 — 토큰이 없거나 만료됨
        - `E2001`: 이메일 중복 — 이미 등록된 이메일 주소
        - `E2002`: 비밀번호 불일치 — 현재 비밀번호가 일치하지 않음
        - `E3001`: 사용자 없음 — 해당 사용자를 찾을 수 없음
        - `E3002`: 프로필 수정 실패 — 프로필 업데이트 중 오류 발생
        - `E4001`: 세션 없음 — 해당 세션을 찾을 수 없음
        - `E4002`: 세션 참가 실패 — 초대 코드가 유효하지 않거나 세션이 만료됨
        - `E4003`: 세션 권한 없음 — 해당 세션에 대한 접근 또는 삭제 권한 없음
        - `E5001`: Candidate 등록 실패 — ICE Candidate 등록 중 오류 발생
        - `E5002`: TURN 발급 실패 — TURN 자격증명 발급 중 오류 발생
        - `E6001`: 서버 내부 오류 — 예기치 않은 서버 오류 발생
      enum:
        - E1001
        - E1002
        - E2001
        - E2002
        - E3001
        - E3002
        - E4001
        - E4002
        - E4003
        - E5001
        - E5002
        - E6001
      example: "E1002"

